.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black
}

.logo {
    width: 150px;
}

.PlutoFoods {
    font-family: 'Arial', sans-serif; /* Choose an attractive font */
    font-size: 25px; /* Adjust the font size as needed */
    color: #a95e51; /* Set the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a shadow for more effect */
    white-space: nowrap; /* Ensure the text stays on a single line */
    background: linear-gradient(90deg, #ff7f50, #ff6347); /* Add a gradient background */
    -webkit-background-clip: text; /* Clip the background to the text (for webkit browsers) */
    -webkit-text-fill-color: transparent; /* Make the text fill transparent to show gradient */
    text-align:center; /* Center-align the text */
    margin: 20px; /* Add some margin around the headline */
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;   
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 20px;
    font-size: 24px;
}

.res-logo {
    width:100%;
}